/* ELEMENT & CLASS STYLES */

* {
    border: 0;
    padding: 0; 
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    min-height: 100vh;
    position: relative;
}

.header-image {
    background-size: cover;
    width: 100%;
    height: calc(100vw * .438);
    position: relative;
}

.aurora {
    background-image: url(img/aurora.jpg);
}

main {
    width: 95%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

h1 {
    color: white;
    vertical-align: bottom;
    position: absolute;
    left: 20%;
    bottom: 30%;
}

nav.sticky {    
    background-color: #142850;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a {
    color: white;
    display: inline-block;
    width: 32%;
    text-decoration: none;
    padding: 10px 0px 6px;
}

nav a.current-page {
    font-weight: bold;
    border-bottom: 4px solid white;
}

.project-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.project-selector li {
    position: relative;
    display: inline;
}

.project-selector li img {
    width: 35vw;
    height: auto;
}

.project-selector li div {
    background-color: grey;
    color: white;
    font-weight: normal;
    opacity: 85%;
    position: absolute;
    bottom: 0px;
    width: 100%;
}


article {
    background-color: #dae1e7;
    margin: 12px;
    padding: 15px;
}

.project-selector li a {
    color: white;
    display: none;
}

.about-me, 
p {
    text-align: justify;
}

#project-detail img {
    width: 100%;
}

article a {
    color: #142850;
}

.project-description {
    padding: 10px;
}

h2 {
    flex-basis: 100%;
    padding-bottom: 10px;
}

#personal, 
#projects {
    position: absolute;
    transform: translateX(100vw);
    width: 100%;
    overflow-y: auto;
    top: 0px;
    margin-left: auto;
}

iframe {
    width: 90%;
}

#project-detail {
    padding-top: 10px;
}

footer {
    width: 100%;
    background-color: #142850;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    margin-top: 24px;
}

footer a {
    padding: 0 10px;
}

/* Pseudo styles */
nav a:hover, 
nav a:active {
    border-bottom: 4px solid;
}

.project-selector li:hover {
    box-shadow: 0px 10px 20px 0px black;
    z-index: 1;
}

.project-selector li:hover a {
    display: block;
    bottom: 100px;
}

.project-selector li:hover h3 {
    display: block;
    bottom: 100px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#dark-toggle:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (orientation: landscape) {

/* BUG: project image doesn't maintain scale when squished horizontally */
    #project-detail img {
        width: 60%;
        height: auto; 
        flex-basis: 60%;
    }

    .project-selector li img {
        width: 18vw;
    }

    .project-description {
        flex-basis: 35%;
    }

    #project-detail {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media only screen and (min-width: 660px) and (orientation: portrait) {
    main {
        height: calc(100vw * 1.25);
    }
}

@media only screen and (min-width: 660px) and (orientation: landscape) {
    main {
        height: calc(100vw * 0.55);
    }
}

@media only screen and (min-width: 1200px) {

    .container {
        width: 90%;
    }

}

@media only screen and (min-width: 1600px) {

    .container {
        width: 80%;
    }

}

@media only screen and (min-width: 2000px) {

    .container {
        width: 70%;
    }

}


/* ANIMATE PAGE CHANGES WITH KEYFRAMES  */

@keyframes slidefromleft {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slidefromright {
    from {
        transform: translateX(100vw);
    }
   
    
    to {
        transform: translateX(0px);
    }
}

@keyframes slidetoleft {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-100vw);
    }
}

@keyframes slidetoright{
    from {
        transform: translateX(0px);
    }
   
    to {
        transform: translateX(100vw);
    }
}

.slidefromleft {
    animation-name: slidefromleft;
    animation-duration: .3s;
    animation-fill-mode: both;

}

.slidefromright {
    animation-name: slidefromright;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.slidetoright {
    animation-name: slidetoright;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.slidetoleft {
    animation-name: slidetoleft; 
    animation-duration: .3s;
    animation-fill-mode: both;
}